@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div>
    @{
        var totalPagesOfItems = Math.Ceiling((decimal)Model.TotalInventoryItems / (decimal)3);

        <input type="number" value="@totalPagesOfItems" hidden id="TotalItemsForPagination" />

        
            <ul class="pagination d-flex gap-2 justify-content-center mt-3">
                <li class="page-item" style="cursor:pointer">
                    <a class="text-decoration-none text-dark border rounded p-1 bg__colour" aria-label="Previous" value="Prev" onclick="AddItemsPagination()" style="cursor:pointer">
                        <span aria-hidden="true">Prev</span>
                    </a>
                </li>
                @for (var i = 0; i < totalPagesOfItems; i++)
                {
                    <li class="page-item" style="cursor:pointer"><a class="text-decoration-none text-dark border rounded p-1 ps-2 pe-2 bg__colour" data-value="@(i)" id="currentPageNo_@i" onclick="AddItemsPagination()">@(i+1)</a></li>
                }


                <li class="page-item" style="cursor:pointer">
                    <a class="text-decoration-none text-dark border rounded p-1 bg__colour" aria-label="Next" value="Next" onclick="AddItemsPagination()" style="cursor:pointer">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </ul>
        
    }
</div>